<section data-instance-id="{{ instance.id }}">
  <h2>{{ theme.name }}</h2>
  <form>
    {{#each theme.settings.configuration}}
      <div>
        <h4>{{ name }}</h4>
        <ul>
          {{#each variables}}
            <li>
              <label>{{ description }}</label>
              <input class="form-control" type="text" data-type="{{ type }}" name="{{ name }}" placeholder="{{ default }}" value="{{ setValue }}" />
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </form>
  <hr />
  <a href="#" class="btn btn-danger btn-sm" data-delete-instance>Remove theme</a>
</section>