<section data-instance-id="{{ instance.id }}" data-widget-id="{{ instance.widgetId }}" data-package-name="{{ theme.package }}">
  <p>You can tweak the look of your app by changing the settings in the groups below.</p>
  <form class="form-horizontal">
    <div class="panel-group" id="accordion">
    {{#each theme.settings.configuration}}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{@index}}" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
          <h4 class="panel-title">
              {{ name }}
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </h4>
        </div>
        <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@index}}" data-index="{{@index}}">
          <div class="panel-body">
            {{#each variables as |variable|}}
            <div class="form-group">
              <div class="col-sm-4 control-label">
                <label>{{ description }}</label>
              </div>
              <div class="col-sm-8">
                {{#if_eq type "color"}}
                  <div class="input-group" colorpicker-component>
                    <div class="input-group-addon"><i style="background-color:{{ setValue }}"></i></div>
                    <input class="form-control" type="text" data-type="{{ type }}" name="{{ name }}" placeholder="{{ default }}" value="{{ setValue }}">
                    {{#if helper}}
                    <p class="text-helper">{{ helper }}</p>
                    {{/if}}
                  </div>
                {{else}}
                  {{#if_eq type "font"}}
                    <label for="drop-down-{{ name }}" class="select-proxy-display">
                      <span class="icon fa fa-chevron-down"></span>
                      <span class="select-value-proxy">-- Select a font</span>
                      <select id="drop-down-{{ name }}" data-type="{{ type }}" name="{{ name }}" class="hidden-select form-control">
                        {{#each ../../fonts as |font|}}
                          <option value="{{ font.name }}" {{#isValueSelected font variable }}selected="selected"{{/isValueSelected}}>{{ font.name }}</option>
                        {{/each}}
                      </select>
                    </label>
                  {{else}}
                    <input class="form-control" type="text" data-type="{{ type }}" name="{{ name }}" placeholder="{{ default }}" value="{{ setValue }}" />
                    {{#if hint}}
                      <p class="text-helper">{{ hint }}</p>
                    {{/if}}
                  {{/if_eq}}
                {{/if_eq}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </form>
</section>
