<section data-instance-id="{{ instance.id }}" data-widget-id="{{ instance.widgetId }}" data-package-name="{{ theme.package }}">
  <h2><small>{{ theme.name }}</small></h2>
  <form class="form-horizontal">
    {{#each theme.settings.configuration}}
      <div>
        <h4>{{ name }}</h4>
        <ul>
          {{#each variables}}
            <li>
              <div class="form-group">
                <div class="col-sm-4 control-label">
                  <label>{{ description }}</label>
                </div>
                <div class="col-sm-8">
                  {{#if_eq type "color"}}
                  <div class="input-group">
                    <div class="input-group-addon" style="background-color:{{ setValue }}">&nbsp;&nbsp;&nbsp;</div>
                    <input class="form-control" type="text" data-type="{{ type }}" name="{{ name }}" placeholder="{{ default }}" value="{{ setValue }}">
                  </div>
                  {{else}}
                  <input class="form-control" type="text" data-type="{{ type }}" name="{{ name }}" placeholder="{{ default }}" value="{{ setValue }}" />
                  {{/if_eq}}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </form>
  <!-- DEPRICATED DELETE BUTTON
  <div class="actions">
    <a href="#" class="btn btn-danger btn-sm" data-delete-instance>Remove this theme ({{ theme.name }})</a>
  </div>
  -->
</section>
